.question{
    font-size: 18px;
    text-align: center;
}

.title{
    text-align: center;
    color: blue;
}

.reponse{
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    text-transform: initial;
    border: 1px solid blue;
    border-radius: 25px;
    text-align: center;
}

.card{
    padding: 10px;
    padding-bottom: 20px;
    justify-content: center;
}
a{
    text-decoration: none;
}