<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bienvenue {{prenom}} </h1>
  <ion-card class="card" (click)="histoire()">
    <img class="img" src="../../assets/history.png" />
    <ion-card-header>
      <ion-card-title class="title">HISTOIRE</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <img class="img" src="../../assets/geography.png" />
    <ion-card-header>
      <ion-card-title class="title">GEOGRAPHIE</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <!-- <ion-card>
    <img class="img" src="../../assets/monitoring.png" />
    <ion-card-header>
      <ion-card-title>OBSERVATION</ion-card-title>
    </ion-card-header>
  </ion-card>
  -->
</ion-content>
